
   body { /*estil general del cos de la pàgina*/
    color: #b3b300; /*color de la lletra*/
    background-color: #669999;
  }
  
  #capçalera{ /*estil de la capçalera on hi ha el títol i el text explicatiu*/
    background-color: #b3cccc; /*color de fons*/
    padding-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 15px; /*arrodonir els caires*/
  }

   hr {
    width: 300px; /*amplada de la línia*/
    color: #334d4d;
  }

  #titol{/*estil del títol de la capçalera*/
    text-align:center;
    padding-top: 30px;
    font-size: 40px;
    color: #b3b300; /*color de la lletra*/
  }

   #titol2 { /*estil del títol que dona nom a la taula*/
    text-align: center;
    font-size: 20px;
    color: #b3b300; /*color de la lletra*/
    margin-bottom: 20px;
  }

  #taula { /*estil de la taula*/
    background-color: white; /*color de fons*/
    margin-bottom: 20px;
    margin: auto;
    padding: 20px;
    border-radius: 15px; /*arrodonir els caires*/
    border-spacing: 0;
    border-collapse: separate;
    position: center;
    text-align: left;
    color: #666600; /*color de la lletra*/
    font-size: 20px;
  }
  
  #row{ /*estil de les tr*/
    height: 30px;
    width: 110px;
    padding: 4px;
  }
  
  #tr:hover{ /*hover per canviar de color de fons de les tr en pasar-hi per damunt amb el cursor*/
    background-color: #b3b300;
  }
  
  .button1 { /*estil del botó que torna a cridar la funció*/
    background-color: #b3b300; /*color de fons*/
    color: #666600; /*color de la lletra*/
    border: 3px solid #666600;  
    width: 245px; 
    height: 35px;
    border-radius: 10px; /*arrodonir els caires*/ 
    margin-left: 555px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 19px;
  }

  .button1:hover { /*hover per canviar el color de fons i el color de la lletra en passar-hi amb el cursor per damunt*/
    background-color: #666600; /*color del fons*/
    color: #b3b300; /*color de la lletra*/
  }

  p{
    color: #666600; /*color de la lletra*/
    font-size: 15px;
    text-align:center;
    margin-top: 20px;
  }

   #autoria{
    background-color: #b3cccc; /*color de fons*/
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 15px; /*arrodonir els caires*/
  }

  /*Per: Victòria Binimelis Vadell. Novembre 2017*/
  
